/* GLOBAL STYLES */
html, body {
  /* font-size: 10px; */
}
h1 {
  color: #222;
  font-weight: 200;
  letter-spacing: 0.2em;
  text-align: center;
}
h3,h4 {
  font-weight: 200;
  text-align: center;
}
p {
  font-size: 0.9rem;
}

/* HEADER STYLES */
.header {
  border: 1px solid #aaa;
  margin-bottom: 15px;
  height: 8vh;
	position: relative;
}
.header-nav {
  list-style: none;
  display: inline-block;
  float: right;
}
.header-nav > li {
  display: inline-block;
  font-size: 0.8em;
}
.header-nav li ~ li {
  margin-left: 1em;
}
.header-nav > li:last-child {
  margin-right: 2.5em;
}
.nav-links a {
  text-decoration: none;
  color: #000;;
  transition: color 0.5s ease;
}
.nav-links a:hover {
  color: #87cebb;
}
.header-logo img {
	height: 8vh;
	width: 8vh;
	position: relative;
	/* bottom: 2px; */
}

/* MAIN CONTAINER STYLES */
.container {
  border: 1px solid #aaa;
  margin-bottom: 15px;
  padding: 15px;
}
.full-hero {
  border: 1px solid #aaa;
  padding: 15px;
  text-align: center;
  position: relative;
}
.full-hero h1 {
  letter-spacing: 0.33em;
}
.main-container p {
  margin: 1em;
}

/* FOOTER STYLES */
.footer {
  font-size: 0.8em;
}
.footer {
  border: 1px solid #aaa;
  padding: 15px;
}

/* ABOUT PAGE STYLES */
.events-section h3 {
  font-size: 0.8em;
  text-align: center;
}

/* EVENTS STYLES */
.events-wrapper {
  display: flex;
  flex-direction: row;
}
.event-box {
  border: 1px solid #aaa;
  flex: 1;
  margin: 1.2em 10px 3em;
  padding: 15px;
}
.event-box h4 {
  font-size: 12px;
  font-weight: bolder;
}
.event-box p {
  font-size: 0.8em;
  text-align: justify;
  width: 75%;
  margin: 0 auto 20px;
}
