---
layout: default
title: Events
---
<div class="container events-section">
  <div class="events-header">
    <h1>Events</h1>
    <h3>定期クラス以外のヨガイベント、部員で開催するイベントなどです</h3>
  </div>
</div>

<div class="container events-wrapper">
  <!-- TODO: individual page for each event:
              link in title, img, add "Read more" -->
  <div class="event-section yoga-events">
    <div class="event-heading">
      <h2>Yoga Events</h2>
    </div>
    <div class="box-wrapper">
      {% assign yoga_events = site.events | where: "type", "yoga" | sort: 'date' | reverse %}
      {% for yoga_event in yoga_events limit:3 %}
        <div class="event-box">
          <div class="event-image">
            <a href="{{ yoga_event.url }}">
              <img src="{{ yoga_event.image_path }}" alt="{{ yoga_event.title }}">
            </a>
          </div>
          <div class="event-text">
            <a href="{{ yoga_event.url }}">
              <h4 class="event-title">{{ yoga_event.title }}</h4>
            </a>
            <p>{{ yoga_event.excerpt }}</p>
            <p class="date">
              日時: {{ yoga_event.date | date: "%-m/%-d " }}
              {{ yoga_event.time }}
            </p>
            <p>
              <a class="read-more" href="{{ yoga_event.url }}">>>Read more</a>
            </p>

          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="event-section other-events">
    <div class="event-heading">
      <h2>Other Events</h2>
    </div>
    <div class="box-wrapper">
      {% assign events = site.events | where: "type", "other" | sort: 'date' | reverse %}
      {% for event in events limit:3 %}
        <div class="event-box">
          <div class="event-image">
            <img src="{{ event.image_path }}" alt="{{ event.title }}">
          </div>
          <div class="event-text">
            <h4>{{ event.title }}</h4>
            <p>{{ event.excerpt }}</p>
            <!-- TODO; link to more content -->
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

</div>
