---
layout: default
title: Instructor
---
<!-- TODO: link to individual member's profile
           individual layout
           social link
           member's photo -->
<div class="container members-container">
  <h1>Instructors</h1>
  <div class="members-wrapper">
    {% assign members = site.members | sort: 'number' %}
    {% for member in members limit:9 %}
      <div class="member-box">
        <a href="{{ member.url | relative_url }}">
          <img src="{{ member.image_path | relative_url }}" alt="{{ member.name }}">
        </a>
        {% if member.instructor == 1 %}
          <h4 class="instructor">{{ member.name }}</h4>
        {% else %}
          <h4>{{ member.name }}</h4>
        {% endif %}
        <div class="member-copy">
          {{ member.excerpt }}
        </div>
        <div class="member-social">
          <ul class="social-list">
            {% if member.facebook %}
            <li>
              <a href="{{ member.facebook }}" class="social-link">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            {% endif %}
            {% if member.twitter %}
            <li>
              <a href="{{ member.twitter }}" class="social-link">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            {% endif %}
            {% if member.instagram %}
            <li>
              <a href="{{ member.instagram }}" class="social-link">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            {% endif %}
            {% if member.websites %}
              {% for website in member.websites %}
                <li>
                  <a href="{{ website.url }}" class="social-link">
                    <i class="fas fa-globe"></i>
                  </a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
        <p>
          <a href="{{ member.url | relative_url }}">Read more >></a>
        </p>
      </div>
    {% endfor %}

    </div>
  </div>
