---
layout: default
title: Members
---
<!-- TODO: link to individual member's profile
           individual layout
           social link
           member's photo -->
<div class="container members-container">
  <h1>在籍している人々</h1>
  <div class="members-wrapper">
    {% assign members = site.members | sort: 'number' %}
    {% for member in members limit:9 %}
      <div class="member-box">
        <img src="{{ member.image_path | relative_url }}" alt="{{ member.name }}">
        {% if member.instructor == 1 %}
          <h4 class="instructor">{{ member.name }}</h4>
        {% else %}
          <h4>{{ member.name }}</h4>
        {% endif %}
        <div class="member-copy">
          {{ member.content }}
          Love: {{ member.love }}
        </div>
      </div>
    {% endfor %}

    </div>
    <p>...and more!</p>
  </div>
