  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="fnCM1Q8rPbVpEqm7_Y02MXzyFKKoP_fQjxN0KVgs2X0" />
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p|Noto+Serif+JP:200,600|Amatic+SC:400,700|Quicksand&display=swap&subset=japanese" rel="stylesheet">

    <link rel="stylesheet" href="{{ "/css/styles.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/css/slick.css" | relative_url }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ "/css/slick-theme.css" | relative_url }}" media="screen" />
    <script src="https://kit.fontawesome.com/f1af886234.js" crossorigin="anonymous"></script>
    {% include analytics.html %}
    <title>Bukatsudo Yoga | ヨガ部</title>

    <script src="{{ "/js/gallery.js" | relative_url }}" charset="utf-8"></script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
        activateGallery();
      })
    </script>
  </head>
