  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p|Noto+Serif+JP:200|Amatic+SC:400,700|&display=swap&subset=japanese" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/bukatsudoyoga/css/main.css" }}">
    <link rel="stylesheet" type="text/css" href="{{ "/css/slick.css" }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ "/css/slick-theme.css" }}" media="screen" />
    <script src="https://kit.fontawesome.com/f1af886234.js" crossorigin="anonymous"></script>
    <title>Bukatsudo Yoga | ヨガ部</title>
  </head>
