{% assign newses = "" | split: "|" %}
{% for event in site.events %}
  {% assign newses = newses | push: event %}
{% endfor %}
{% for post in site.posts %}
  {% if post.categories contains 'info' %}
    {% assign newses = newses | push: post | sort: 'date'%}
  {% endif %}
{% endfor %}

{% assign newses = newses | reverse | limit: 5 %}
<ul class="news-list">
  {% for news in newses %}
    <li>
      <a href="{{ news.url | relative_url }}">
        <span class="event-date">
          <span class="date">{{ news.date | date: "%Y/%-m/%d"}}</span>
          <span class="day">
            {% include day.html %}
          </span>
        </span>
        <span class="event-title">{{ news.title }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
