<ul class="news-list">
  <!-- FIXME: font-size in mobile too small -->
  {% assign events = site.events | sort: 'dates' | reverse %}
  {% for event in events limit:5 %}
  {% assign date = event.dates[0] %}
  <li>
    <a href="{{ event.url | relative_url }}">
      <span class="event-date">
        <span class="date">{{ event.dates[0] | date: "%-m/%d" }}</span>
        <span class="day">
          {% include day.html %}
        </span>
      </span>

      {% if event.news-head %}
        <span class="event-title">{{ event.news-head }}</span>
      {% else %}
        <span class="event-title">{{ event.title }}</span>
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
