<div class="slider">
  <!-- <div><img src="{{ "/assets/images/photo/slide/class.jpg" | relative_url }}" alt=""></div>   -->
  <!-- <div><img src="{{ "/assets/images/photo/slide/coffee_stand.jpg" | relative_url }}" alt=""></div> -->
  <div><img src="{{ "/assets/images/photo/slide/hall_with_mats.jpg" | relative_url }}" alt=""></div>
  <!-- <div><img src="{{ "/assets/images/photo/slide/kanaco-pose.jpg" | relative_url }}" alt=""></div> -->
  <div><img src=" {{ "/assets/images/photo/slide/the_dockyard.jpg" | relative_url }}" alt=""></div>
  <div><img src=" {{ "/assets/images/photo/slide/candle3.jpg" | relative_url }}" alt=""></div>
</div>
<div class="dots"></div>
