---
layout: default
---
<div class="container indv-page event-page">
  <div class="hero">
    <div class="bg" style="background-image: url( {{ page.image_path }})"></div>
    <h1>{{ page.title }}</h1>
  </div>
  <div class="text-area text-event">
    <div class="description">
      <h2>About</h2>
      {{ page.content }}
    </div>
    <div class="details">
      <div class="date">
        <h2>Date & Time</h2>
        <p>
          {% for date in page.dates %}
            {{ date | date: "%-m/%-d " }}
            {% assign d = date | date:"%w"  %}
            {% case d %}
              {% when '0' %}(日)
              {% when '1' %}(月)
              {% when '2' %}(火)
              {% when '3' %}(水)
              {% when '4' %}(木)
              {% when '5' %}(金)
              {% when '6' %}(土)
            {% endcase %}
            <br>
          {% endfor %}
        </p>
        <p>
          {% for time in page.times %}
            {{ time }}<br>
          {% endfor %}
        </p>
      </div>
      <div class="place">
        <h2>Place</h2>
        <p>{{ page.place }}</p>
      </div>
      {% if page.type == "yoga" %}
        <div class="fee">
          <h2>Fee</h2>
          <p>
            {% for fee in page.fees %}
              {{ fee }}
            {% endfor %}
          </p>
        </div>
      {% endif %}
    </div>
    <div class="link">
      <a class="small-anchor" href="{{ page.official_url }}">More Info in Official Site</a>
    </div>
  </div>
</div>
