---
layout: default
---
<div class="container indv-page member-page">
  <div class="hero">
    <div class="bg" style="background-image: url( {{ page.image_path | relative_url }})"></div>
    <h1>{{ page.name }}</h1>
  </div>
  <div class="text-area text-member">
    <div class="description">
      <h2 class="heading">About</h2>
      {{ page.content }}
    </div>
    <div class="details">
      <div class="date">
      </div>
      <div class="place">
      </div>
    </div>
    <div class="link">
      <h2 class="heading">Links</h2>
      {% include social-links.html %}
    </div>
  </div>
</div>
