---
layout: default
---
<div class="blog-post">
  <div class="post-hero">
    <div class="hero-blog">
      <img src="{{ page.postHero | relative_url  }}" alt="{{ page.title }}">
    </div>
    {% if page.img_author %}
      <span class="img-author">photo by <a href="{{ page.img_url }}">{{ page.img_author }}</a></span>
    {% endif %}
  </div>

  <div class="text-area">
    <h1 class="post-title">{{ page.title }}</h1>
    {% assign icon_list = site.collections[1].icon %}
    {% assign author = page.author %}
    <div class="post-info">
      <span>
        <span class="date">{{ page.date | date: "%Y.%m.%d" }}</span>
         by {{ author }} <img class="author-icon" src="{{ icon_list[author] }}" alt="{{ author }}">
      </span>
    </div>
    {{ page.content }}
  </div>
</div>
